<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        th {
            text-align: center;
        }

        td {
            text-align: center;
            border: 2px;
            padding: 8px;
        }
    </style>
</head>
<header>
    <h2> All users</h2>
</header>
<body>
<div>
    <table>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>lastName</th>
        </tr>
        <tr th:each="user : ${user}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.lastName}"></td>
            <td>
                <form method="get" th:action="@{/user/update/{id} (id=${user.id})}">
                    <input type="submit" value="EDIT"/>
                </form>
            </td>
            <td>
                <form th:method="DELETE" th:action="@{/user/delete/{id} (id=${user.id})}">
                    <input type="submit" value="DELETE"/>
                </form>
            </td>
        </tr>
    </table>
</div>
<div>
    <input type="button" value="Add new user"
           onclick="window.location.href = 'user/registration'"/>
</div>
</body>

</html>